.Palette {
    height: 100vh;
    overflow: hidden;
}

.Palette-colors {
    height: 90%;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.SingleColorPalette .ColorBox {
    height: 50%;
}
