body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
}

.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-out;
}

.slide-in-enter {
    opacity: 0;
    transform: translateX(100%);
}
.slide-in-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
}
.slide-in-exit {
    /* transform: translateX(0); */
    opacity: 1;
}
.slide-in-exit-active {
    opacity: 0;
    /* transform: translateX(100%); */
    transition: all 100ms;
}
.slide-out-enter {
    opacity: 0;
    transform: translateX(-100%);
}
.slide-out-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 300ms;
}
.slide-out-exit {
    opacity: 1;
    /* transform: translateX(0); */
}
.slide-out-exit-active {
    opacity: 0;
    /* transform: translateX(100%); */
    transition: all 100ms;
}
